A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #FF0000; BORDER-BOTTOM: #808080 1px dotted; POSITION: relative
}
A {
	FONT: 9pt ו; COLOR: #333333; TEXT-DECORATION: none
}
DIV {
	FONT-SIZE: 9pt
}
FORM {
	FONT-SIZE: 9pt
}
P {
	FONT-SIZE: 9pt
}
TD {
	FONT-SIZE: 9pt
}
BODY {
	FONT-SIZE: 9pt
}
.365ye {
	LEFT: 0px; WIDTH: 550px; WORD-WRAP: break-word
}
.a1 {
	BACKGROUND-IMAGE: url(T_bg.gif)
}
.a2 {
	BACKGROUND-COLOR: #FF6868
}
.a3 {
	BACKGROUND-COLOR: #FFE8E8
}
.a4 {
	BACKGROUND-COLOR: #ffffff
}
