A.dong03:link {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 14px;
	font-weight: normal;
}
A.dong03:visited {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 14px;
}
A.dong03:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;
	font-family: "新宋体";
	font-size: 14px;
}
A.dong03:active {
	color: #FFFFFF;
	text-decoration: none;
	font-family: "新宋体";
	font-size: 14px;
}
.d00 {
	font-family: "新宋体";
	font-size: 14px;
	color: #FFFFFF;
}
.d02 {
	font-family: "新宋体";
	font-size: 12px;
	color: #000000;
}
.g01 {
	font-family: "新宋体";
	font-size: 12px;
	color: #585353;
	line-height: 15px;
}
.g02 {
	font-family: "新宋体";
	font-size: 16px;
	color: #FF0000;
}


A.dong05:link {
	COLOR: #FF0000;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 12px;
	font-weight: normal;
}
A.dong05:visited {
	COLOR: #FF0000;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 12px;
}
A.dong05:hover {
	COLOR: #000000;
	TEXT-DECORATION: underline;
	font-family: "新宋体";
	font-size: 12px;
}
A.dong05:active {
	color: #000000;
	text-decoration: none;
	font-family: "新宋体";
	font-size: 12px;
}
A.dong02:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 12px;
	font-weight: normal;
}
A.dong02:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 12px;
}
A.dong02:hover {
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
	font-family: "新宋体";
	font-size: 12px;
}
A.dong02:active {
	color: #FF0000;
	text-decoration: none;
	font-family: "新宋体";
	font-size: 12px;
}
.d08 {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

A.dong06:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 13px;
	font-weight: normal;
}
A.dong06:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 13px;
}
A.dong06:hover {
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
	font-family: "新宋体";
	font-size: 13px;
}
A.dong06:active {
	color: #FF0000;
	text-decoration: none;
	font-family: "新宋体";
	font-size: 13px;
}
A.dong08:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}
A.dong08:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 12px;
	line-height: 20px;
}
A.dong08:hover {
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
	font-family: "新宋体";
	font-size: 12px;
	line-height: 20px;
}
A.dong08:active {
	color: #FF0000;
	text-decoration: none;
	font-family: "新宋体";
	font-size: 12px;
	line-height: 20px;
}
.d06 {
	font-family: "新宋体";
	font-size: 14px;
	color: #000000;
}
A.dong09:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}
A.dong09:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 12px;
	line-height: 20px;
}
A.dong09:hover {
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
	font-family: "新宋体";
	font-size: 12px;
	line-height: 20px;
}
A.dong09:active {
	color: #FF0000;
	text-decoration: none;
	font-family: "新宋体";
	font-size: 12px;
	line-height: 20px;
}
.n {
	border-left-style: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #F4F4F4;
}
A.dong10:link {
	COLOR: #FF0000;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 16px;
	font-weight: normal;
}
.g03 {
	font-family: "新宋体";
	font-size: 16px;
	color: #000000;
}
.g04 {
	font-family: "新宋体";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
}

A.dong10:visited {
	COLOR: #FF0000;
	TEXT-DECORATION: none;
	font-family: "新宋体";
	font-size: 16px;
}
A.dong10:hover {
	COLOR: #000000;
	TEXT-DECORATION: underline;
	font-family: "新宋体";
	font-size: 16px;
}
A.dong10:active {
	color: #000000;
	text-decoration: none;
	font-family: "新宋体";
	font-size: 16px;
}.d07 {

	font-family: "新宋体";
	font-size: 14px;
	color: #FF0000;
}
.d061 {
	font-family: "新宋体";
	font-size: 14px;
	color: #000000;
	line-height: 25px;
}
.d062 {
	font-family: "新宋体";
	font-size: 14px;
	color: #FF0000;
	line-height: 25px;
}
